<div class="subscribe-perks-style">
    <div class="subscribe-ellipse">
        <div class="subscribe-width">
            {% capture image_layout %}
              <div class="feature-row__item">
                {% if section.settings.image != blank %}
                    {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
                    {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
                    {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    {% include 'image-style', image: section.settings.image, height: 545, wrapper_id: wrapper_id, img_id: img_id %}
                    <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js" >
                        <img id="{{ img_id }}"
                            class="feature-row__image lazyload"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ section.settings.image.alt | escape }}">
                    </div>

                    <noscript>
                        {{ section.settings.image | img_url: '595x485', scale: 2 | img_tag: section.settings.image.alt, 'feature-row__image' }}
                    </noscript>
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
            {% endcapture %}

            <div class="subscribe-row">
              {% if section.settings.layout == 'left' %}
                {{ image_layout }}
              {% endif %}

              <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }}">
                {% if section.settings.title != blank %}
                    <h1 class="section-header__title title-uppercase title-style text_align_left">{{ section.settings.title | escape }}</h1>
                {% endif %}
                {% if section.blocks != blank %}
                    {% for block in section.blocks %}
                        <div class="subcontent">
                            {% if block.settings.image != blank %}
                                {%- assign img_url = block.settings.image | img_url -%}
                                <img class="checkbox_img_size" src="{{ img_url }}" >
                            {% else %}
                                {{ 'image' | placeholder_svg_tag: 'image' }}
                            {% endif %}

                            <p>{{ block.settings.subcontent }}</p>
                        </div>
                    {% endfor %}
                {% endif %}

              </div>

              {% if section.settings.layout == 'right' %}
                {{ image_layout }}
              {% endif %}
            </div>

        </div>
    </div>
</div>

{% schema %}
{
  "name": "Subscribe Perks",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Image alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "right",
          "label": "right"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Subscribe Perks"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Content",
      "settings":[
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "subcontent",
          "label": "Context"
        }
      ]
    }
  ]
}
{% endschema %}